/*
Main Styles for Portfolio Site
1/15/2014
*/

html {
    height: 100%;
}

body {
    background-color: #B0C9F4;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-weight: 300;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-weight: 300;
}

h1 {
    margin-bottom: 0px;
}

a {
    color: #FF8C5A;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    color: #FFC197;
}

strong {
    font-weight: 400;
}

.wrapper {
    position: relative;
    width: 900px;
    margin: auto;
    height: 100%;
}

.resized {
    width: 95%;
}

div#about {
    color: #FFFFFF;
}

div#banner {
    position: relative;
    float: left;
    width: 333px;
    height: 100%;
    color: #FFFFFF;
    background-color: #FF8C5A;
    padding: 30px 30px 30px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.about-resized {
    height: auto !important;
}

.banner-resized {
    float: none !important;
    width: 100% !important;
    height: auto !important;
}

div#top-banner {
    position: relative;
    float: left;
    top: 0;
    width: 273px;
    height: 120px;
    background-color: #FF8C5A;
    padding: 30px 30px 0 30px;
}

.topbanner-resized {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none !important;
    width: 100% !important;
    height: 150px !important;
}

div#nav {
    position: relative;
    margin-left: 355.7px;
}

div#top-nav {
    position: relative;
    margin-left: 355.7px;
    top: 13.5px;
}

.topnav-resized, .nav-resized {
    margin-left: 0 !important;
}

div.nav-flag {
    background-color: #FFFFFF;
    height: 1.2em;
    margin-bottom: 14px;
    cursor: pointer;
}

div.nav-flag:hover, a.icon:hover, a#download-link:hover {
    opacity: 0.6;
    filter:alpha(opacity=60);
    transition: opacity 0.2s linear;   
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
}

#dev-tile:hover, #design-tile:hover, .back-tile:hover {
    opacity: 0.6;
    filter:alpha(opacity=60);
    cursor: pointer;
    transition: opacity 0.3s linear;   
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;    
}

span.nav-text {
    color: #FFFFFF;
    background-color: #B0C9F4;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 85%;
    padding-right: 10px;
}

.hidden {
    display: none;
}

div.content {
    display: inline-block;
    width: 100%;
    margin-top: 11px;
}

div.module {
    color: #15294b;
    background-color: #FFFFFF;
    padding: 40px;
    margin-top: 6px;
    margin-bottom: 24px;
}

#projects, #tiles {
    margin-top: 10px;
}

#dev-tile {
    width: 61.78%;
}

#design-tile {
    float: right;
    width: 36.11%;
}

#res {
    padding: 0;
    margin-top: 10px;
}

div#contact {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 12px;
}

img.header {
    width: 100%;
    margin-top: 30px;
}

.header-resized {
    width: 273px !important;
}

#projects, img.screenshot, .back-tile, #tiles {
    width: 100%;
}

p.subheading {
    font-size: 1.3em;
    margin-top: 0px;
}

a.icon {
    margin-left: 5px;
}

.active {
    opacity: 0.6;
    filter:alpha(opacity=60);
}

.active:hover {
    cursor: default;
}

#download-link {
    position: relative;
    top: -15px;
}

div#message {
    font-size: 1.2em;
}

/*@media screen and (max-width: 940) {
    .wrapper {
        width: 95%;
    }
}*/

@media only screen and (max-width: 580px) {
    #top-banner {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: none !important;
        width: 100% !important;
        height: 150px !important;        
    }

    img.header {
        width: 273px !important;
    }

    #banner {
        float: none !important;
        width: 100% !important;
        height: auto !important;        
    }

    #top-nav, #nav {
        margin-left: 0 !important;
        margin-top: 10px !important;
        top: auto !important;
    }    
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    #top-banner {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: none !important;
        width: 100% !important;
        height: 150px !important;        
    }

    img.header {
        width: 273px !important;
    }

    #banner {
        float: none !important;
        width: 100% !important;
        height: auto !important;        
    }

    #top-nav, #nav {
        margin-left: 0 !important;
        margin-top: 10px !important;
        top: auto !important;
    }
}